.mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo2 {
    height: 11vh;
    margin-top: 12px;
}


.barsvg{
    background-color: white;
    padding: 5px;
    border-radius: 4px;
    border: 2px solid black;
    cursor: pointer;
    z-index: 1;
}
