.img1{
    margin-top: -60px;
}
.headline{
    margin-top: 20px;
    color: #6C63FF;
    font-size: 9vh;
    font-weight: 700;
    
}

.para{
    font-size: 6vh;
    font-family: "Tilt Neon", sans-serif;

}
.para2{
    font-size: 3.5vh;
    font-weight: 500;
    font-family: "Tilt Neon", sans-serif;

}
.rocket{
    height: 9vh;
}
.btndiv{
    display: flex;
    gap: 25px;
}
.btn1, .btn2{
    border: 2px solid #6C63FF;
    border-radius: 12px;
    padding: 10px 15px 10px 15px;
    /* background-color: #6C63FF; */
    font-size: 4vh;
    transition: all 0.3s ease;
    cursor: pointer;
    background-color: #6C63FF;
    color: white;
    font-family: "Tilt Neon", sans-serif;

}

.btn1{
    border: 2px solid #6C63FF;
    color: black !important;
    background-color: white !important;
}

.btn2:hover{
    border: 2px solid #6C63FF;
    color: black;
    background-color: white;

}

.btn1:hover{

    background-color: #6C63FF !important;
    color: white !important;
}

@media only screen and (max-width: 480px){
    .headline{
        margin-top: -100%;
        font-size: 4.4vh;
    }
    .rocket{
        height: 5vh;
    }
    .img1{
        margin-top: 10px;
    }
    .para{
        font-size: 4vh;
    }
    .btndiv{
        gap: 50px;
    }
    .btn1, .btn2{
        font-size: 3vh;
    }
}
/* (min-width: 480px) and  */
@media   (max-width: 1000px){
    .headline{
        font-size: 6.8vh;
    }
    .rocket{
        height: 7vh;
    }
    .img1{
        margin-top: 10px;
    }
    .para{
        font-size: 6vh;
    }
    .btndiv{
        gap: 50px;
    }
    .btn1, .btn2{
        font-size: 3vh;
    }

    .homepageDiv{
        margin-top: -370px;
    }
   
    .topStudy{
        font-size: 5vh !important;
    }
    
}

.topStudy{
    font-size: 6vh;
}

.NAME{
    position: relative;
    top: 20%;
}

.NAME h5{
    font-size: 10vh;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.p4not{
    background-color: transparent;
}

.p4not:hover{
    background-color: transparent;
    color: black !important;
}

.btndiv2{
    color: white;
    border-radius: 8px;
    font-size: 4vh; 
    display: flex;
    justify-content: center;
}

.btn12:hover{

    color: black !important;
    background-color: white !important;

}

.Div3{
    background-color: #6C63FF;
    height: auto;
    border-radius: 15px;
    color: white;
}

.heading3{
    font-size: 8vh;
    font-weight: 500;
    font-family: "Tilt Neon", sans-serif;

}

.heading3TagLine{
    font-size: 3vh;
    font-family: "Tilt Neon", sans-serif;
}

.serviceCSS{
    color: #6C63FF;
    font-size: 5vh;
    font-family: "Tilt Neon", sans-serif;
    font-weight: 800;
}

.faqContainer{
    background-color: #6C63FF;
    border-radius: 15px;
}
.faq{
    color: white;
    font-size: 5vh;
    font-family: "Tilt Neon", sans-serif;
    font-weight: 800;
}

.faq-question,.faq-answer{
    color: white;
    font-size: 3vh;
    font-family: "Tilt Neon", sans-serif;
    font-weight: 800;
}

.faq-item{
    border: 3px solid white;
    margin-top: 5px;
    margin-bottom: 30px;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
}