.img1{
    margin-top: -60px;
}
.headline{
    margin-top: 20px;
    color: #6C63FF;
    font-size: 9vh;
    font-weight: 700;
}
.para{
    font-size: 6vh;
}
.para2{
    font-size: 3.5vh;
    font-weight: 500;
}
.rocket{
    height: 9vh;
}
.btndiv{
    display: flex;
    gap: 25px;
}
.btn1, .btn2{
    border: 2px solid #6C63FF;
    border-radius: 12px;
    padding: 10px 15px 10px 15px;
    background-color: #6C63FF;
    color: white;
    font-size: 4vh;
}

@media only screen and (max-width: 768px){
    .headline{
        margin-top: -100%;
        font-size: 4.4vh;
    }
    .rocket{
        height: 5vh;
    }
    .img1{
        margin-top: 10px;
    }
    .para{
        font-size: 4vh;
    }
    .btndiv{
        gap: 55px;
    }
    .btn1, .btn2{
        font-size: 3vh;
    }
}